.Item-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    top: 8px;
    box-shadow: 0 0 50px lightgrey;
    border-radius: 20px;
    background-color: white;
    width: 450px;
    padding: 25px;

    z-index: 100;
    overflow-y: auto;
    max-height: 75vh;
  }

  .About-container {
    box-shadow: 0 0 50px lightgrey;
    border-radius: 20px;
    background-color: white;

  }
/* _____New________ */


  .AluListUL {
    left: 8px
  }

  .AluListUL.Item-container{
    margin:50px;
    height: auto;
    max-height: 80vh;
    background-color: #3cad95;
    padding: 5px 0px;

  }


.imgDiv img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
  .imgDiv{
    border-radius: 25px;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 10px;
    border: 1px solid #3cad95;
    overflow: hidden;
    box-shadow: 0 5px 9px 0 rgb(31 105 236 / 20%);
  }

  .listedAlumni span{
    font-family: Oswald, sans-serif !important;
  }
  .listedAlumni i{
    margin-right: 5px;
  }

  .alumniHood{
    font-family: 'Open Sans',sans-serif !important;
    font-style: italic;
    color: rgb(61, 61, 61);
  }

  .profilCard{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 14px;
    color: rgb(61, 61, 61);
    padding: 8px 8px 8px 12px;
    /* margin: 5px 0px */

}
.alumniWork {
    font-family: 'Open Sans',sans-serif !important;
    font-weight: 600;
    margin-right: 8px;
}

  .profilCard:hover{
      background-color:#ebebf1;
      box-shadow: 0 5px 9px 0 rgb(31 105 236 / 20%);
      border-top: 1px solid rgb(189, 189, 189);
      border-bottom: 1px solid rgb(189, 189, 189);
  }
  

/* _____Legacy________ */

  .Item-container .round-image {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 25px auto 10px;
  }
  
  .Item-container .round-image .user-img {
    width: 100%;
    object-position: 0 0;
    height: 100%;
    object-fit: cover;
  }
  
  .Item-container .round-image-user {
    min-height: 30px;
    min-width: 30px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin-right: 10px;
  }
  
  .Item-container .round-image-user img {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }
  
  .Item-container .info {
    margin: 10px auto;
  }
  
  .Item-container .info span {
    display: inline;
    margin: 5px 5px;
  }
  
  .Item-container .user-info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .Item-container .contact-information {
    text-align: center;
    margin-top: 20px;
    background: #f1f2ff;
    padding: 15px;
    border-radius: 10px;
    color: #5663ff;
    font-size: 14px;
    font-weight: 500;
  }
  
  .Item-container .title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer
  }
  
  .Item-container .info .description,
  .location {
    margin: 1em 0;
  }
  
  .Item-container .description {
    background-color: #ECF3F9;
    padding: 10px;
    border-radius: 10px;
  }

  .purple {
    color: #24296B
  }
  
  .close-link {
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 20px;
    cursor: pointer
  }

  .green {
    color: #3cad95 
  }